name: MSBuildInstaller

on:
  push:
    # NOTE: Add your own branch here if you want to test, and commit to that branch to trigger the pipeline
    branches: [ "master" ]

env:
  SOLUTION_FILE_PATH: .

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        # Only build Release
        build-configuration: [Release]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1.1

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"
      
      # Adapted from https://stackoverflow.com/a/42700738 and https://stackoverflow.com/a/1474968
      - name: Create DevEnv.targets and point it at the stripped and publicized assemblies
        run: |
          Copy-Item DevEnv.targets.example DevEnv.targets -Force
          $filePathToTask = (Resolve-Path "DevEnv.targets")
          $xml = New-Object XML
          $xml.Load($filePathToTask)
          $element = $xml.SelectSingleNode("//*[local-name()='WorldsAdriftGameDir']")
          $element.InnerText = (Resolve-Path "StrippedAndPublicizedAssemblies\")
          $xml.Save($filePathToTask)
          Get-Content $filePathToTask
          
      - name: Download real assemblies from private repo
        run: |
          $headers = @{
            Authorization = "Bearer $env:WORLD_BUILD_TOKEN"
            Accept = "application/vnd.github+json"
          }

          $zip = "real_dlls.zip"
          $tmp = "real_dlls_tmp"
          $managed = Resolve-Path "StrippedAndPublicizedAssemblies\UnityClient@Windows_Data\Managed"

          Invoke-WebRequest `
            -Uri "https://api.github.com/repos/TheSpookyCat/WorldsBuild/zipball/master" `
            -Headers $headers `
            -OutFile $zip

          Expand-Archive $zip $tmp -Force

          # GitHub zipballs always have a single top-level folder
          $root = Get-ChildItem $tmp | Select-Object -First 1

          Copy-Item "$($root.FullName)\*" $managed -Recurse -Force

          Remove-Item $zip -Force
          Remove-Item $tmp -Recurse -Force
        env:
          WORLD_BUILD_TOKEN: ${{ secrets.WORLD_BUILD_TOKEN }}

      - name: Restore NuGet packages
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: nuget restore ${{env.SOLUTION_FILE_PATH}}
        
      - name: Dummy PayloadData.zip hack
        run: |
          $payloadPath = "InstallerBootstrapper\PayloadData.zip"
          $dir = Split-Path $payloadPath

          if (!(Test-Path $dir)) {
            New-Item -ItemType Directory -Path $dir -Force | Out-Null
          }

          if (!(Test-Path $payloadPath)) {
            Add-Type -AssemblyName System.IO.Compression.FileSystem
            [System.IO.Compression.ZipFile]::CreateFromDirectory(
              "$env:TEMP",
              $payloadPath
            )
          }

          Write-Host "Created dummy PayloadData.zip at $payloadPath"
          
      - name: Build
        working-directory: ${{env.GITHUB_WORKSPACE}}
        # Add additional options to the MSBuild command line here (like platform or verbosity level).
        # See https://docs.microsoft.com/visualstudio/msbuild/msbuild-command-line-reference
        run: msbuild /m /p:Configuration=${{matrix.build-configuration}} ${{env.SOLUTION_FILE_PATH}}
      
      # Normally this is done automatically because the WorldsAdriftReborn and WorldsAdriftRebornGameServer project reference the WorldsAdriftRebornCoreSdk project and is configured to do so
      # however for some reason this does not work inside the pipeline so we have to do this as a second action
      - name: Copy WorldsAdriftRebornCoreSdk to the output folders of the dependant projects (WorldsAdriftReborn, WorldsAdriftRebornGameServer)
        run: |
          Copy-Item -Path "x64\${{matrix.build-configuration}}\*" -Destination "StrippedAndPublicizedAssemblies\BepInEx\plugins\WorldsAdriftReborn" -Recurse
          Copy-Item -Path "x64\${{matrix.build-configuration}}\*" -Destination "WorldsAdriftRebornGameServer\bin\${{matrix.build-configuration}}\net6.0" -Recurse

      - name: Collect WorldsAdriftReborn, WorldsAdriftRebornGameServer and WorldsAdriftServer into a single publish folder
        run: |
          New-Item "publish\Client" -Type Directory
          Copy-Item -Path "StrippedAndPublicizedAssemblies\BepInEx\plugins\WorldsAdriftReborn\*" -Destination "publish\Client" -Recurse -Force
          New-Item "publish\GameServer" -Type Directory
          Copy-Item -Path "WorldsAdriftRebornGameServer\bin\${{matrix.build-configuration}}\net6.0\*" -Destination "publish\GameServer" -Recurse -Force
          New-Item "publish\WebServer" -Type Directory
          Copy-Item -Path "WorldsAdriftServer\bin\${{matrix.build-configuration}}\net6.0\*" -Destination "publish\WebServer" -Recurse -Force
          Copy-Item -Path "README.md" -Destination "publish\"

      - name: Create PayloadData.zip for InstallerBootstrapper
        run: |
          if (Test-Path "InstallerBootstrapper\PayloadData.zip") { Remove-Item "InstallerBootstrapper\PayloadData.zip" -Force }
          Compress-Archive -Path "publish\Client","publish\GameServer","publish\WebServer" -DestinationPath "InstallerBootstrapper\PayloadData.zip" -Force
     
      - name: Reset InstallerBootstrapper
        run: |
          Remove-Item InstallerBootstrapper\bin -Recurse -Force -ErrorAction SilentlyContinue
          Remove-Item InstallerBootstrapper\obj -Recurse -Force -ErrorAction SilentlyContinue
      
      - name: Publish InstallerBootstrapper
        working-directory: ${{env.GITHUB_WORKSPACE}}
        run: dotnet publish InstallerBootstrapper/InstallerBootstrapper.csproj --configuration ${{matrix.build-configuration}} --runtime win-x64

      - name: Upload InstallerBootstrapper artifact
        uses: actions/upload-artifact@v4
        with:
          name: WorldsAdriftOffline-${{ matrix.build-configuration }}
          path: InstallerBootstrapper/bin/${{ matrix.build-configuration }}/net8.0-windows/win-x64/publish
  
  release:
    if: ${{ github.event_name != 'pull_request' && github.repository == 'TheSpookyCat/WAOffline' }}

    runs-on: windows-latest
    needs: [ build ]

    permissions:
      contents: write

    steps:

      - uses: actions/checkout@v4

      - name: Download artifacts from build jobs
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Zip artifacts for prerelease
        run: |
          $directories = Get-ChildItem -Path "artifacts" -Directory
          
          foreach ($directory in $directories) {
            Compress-Archive -Path "$($directory.FullName)\*" -DestinationPath "$($directory.Name).zip" -Force
          }

      - name: Find and delete existing bleeding-edge-x prerelease's and tag's (if they exists)
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          $response = gh api `
            -H "Accept: application/vnd.github+json" `
            /repos/${{ github.repository }}/releases `
            | ConvertFrom-Json
          
          $releases = $response | where tag_name -Like "bleeding-edge-*"
          
          foreach ($release in $releases)
          {
            gh api `
              --method DELETE `
              -H "Accept: application/vnd.github+json" `
              /repos/${{ github.repository }}/releases/$($release.id) `
              | Out-Null
          }
          
          foreach ($release in $releases)
          {
            git push -d origin $($release.tag_name)
          }

      - name: Get short SHA
        run: echo "SHORT_SHA=$("${{ github.sha }}".SubString(0, 8))" >> $env:GITHUB_ENV

      - name: Create bleeding-edge prerelease
        uses: ncipollo/release-action@v1
        with:
          tag: bleeding-edge-${{ env.SHORT_SHA }}
          commit: ${{ github.sha }}
          artifacts: "WorldsAdriftOffline-*.zip"
          prerelease: true
          generateReleaseNotes: true
